body {
    display: block;
    margin: 0px;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
/* set styling for the question choice containers*/

.choice-container {

    display: flex;
    margin-bottom: 50px;
    width: 100%;
    border-radius: 4px;
    background: mediumpurple;
    font-size: 20px;
    min-width: auto;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: paleturquoise;
    transform: scale(1.02);
    }

/* setting text colour and padding to the prefix, and adding padding to the question choices*/

.choice-prefix {
    padding: 20px;
    color: papayawhip;
    }

.choice-text {
    padding: 20px;
    width: 100%;
}

