body {
    display: block;
    margin: 0px;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  h1 {
      font-size: 50px;
      color: rgb(56, 14, 241);
      margin-top: 20px;
      margin-bottom: 20px;
  }

  p {
      font-size: 20px;
      color: black;
      margin-top: 20px;
      margin-bottom: 20px;
   }

   .container {
       width: 10px;
       height: 500px;
       display: flex;
       justify-content: center;
       align-items: center;
       max-width: 100px;
       margin: 0 auto;
   }
